body {
    background-color: #2b0019;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

main h1 {
    color: white;
}

main h2 {
    color: white;
}

header {
    margin-top: 50px;
    text-align: center;
}

header img {
    height: 200px;
}

footer {
    background-color: #c50073;
    gap: 30px;
    padding: 30px;
    display: block;
}

footer p, address {
    color: white;
}

article {
    background-color: #6d0040;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 70%;
    border-radius: 10px;
    border: 40px auto;

}

.imagem {
    height: 300px;
    width: fit-content;
}
